<%= form_with(model: employeedetail) do |form| %>
  <% if employeedetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employeedetail.errors.count, "error") %> prohibited this employeedetail from being saved:</h2>

      <ul>
        <% employeedetail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_string %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_field :designation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
